[project]
	description = Examples and server integrations for generating the Swagger API Specification, which enables easy access to your REST API
[access "refs/*"]
	owner = group user/walter-sv (walter-sv)
[access "refs/for/refs/*"]
	read = group user/walter-sv (walter-sv)
	push = group user/walter-sv (walter-sv)
	label-Code-Review = -2..+2 group user/walter-sv (walter-sv)
	label-Verified = -1..+1 group user/walter-sv (walter-sv)
	rebase = group user/walter-sv (walter-sv)
	removeReviewer = group user/walter-sv (walter-sv)
	submit = group user/walter-sv (walter-sv)
[access "refs/heads/*"]
	read = group user/walter-sv (walter-sv)
	create = group user/walter-sv (walter-sv)
	push = +force group user/walter-sv (walter-sv)
	pushMerge = group user/walter-sv (walter-sv)
[access "refs/tags/*"]
	push = +force group user/walter-sv (walter-sv)
	pushTag = group user/walter-sv (walter-sv)
	pushSignedTag = group user/walter-sv (walter-sv)
